-# Encoding:utf-8
!!!
/[if lte IE 8] <html class="ie8 oldie" lang="ja">
/[if IE 9] <html class="ie9 oldie" lang="ja">
<!--[if gte IE 10]><!-->
%html(lang="ja")<>
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %title scroll-top | レスポンシブ対応のcssフレームワークFivee-base
    %meta(name="description" content="scroll-topはページの上部や任意の場所にスクロールさせます。日本語の説明付きで初心者にも安心。軽量で豊富なパーツのcssフレームワークはFivee-baseが便利です。")
    %meta(name="keywords" content="css,フレームワーク,レスポンシブ,フロントエンド")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport")
    /[if lte IE 9] <script src="../js/vendor/html5shiv/dist/html5shiv.min.js"></script>
    %link(href="../js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    %link(href="../css/theme-default/fivee-base.min.css" rel="stylesheet" type="text/css")
    %link(href="../css/theme-default/unique.min.css" rel="stylesheet" type="text/css")
    /[if lte IE 9] <link href="../css/old-ie.min.css" rel="stylesheet">
  - v = 'javascript:void(0);'
  %body.module-scroll-top
    / header//////////////////////////////////////////////
    %header.page-header
      .st-body.ef-posi-fix.js-posi-remove.js-aside-remove
        .st-inner.ef-float
          .ef-float-left.ef-mgl-10.ef-mgr7.rs3-hide
            %a.ef-w30.js-aside-main-open(href="#{v}")
              %ul.ef-float7
                %li
                  %i.fa.fa-bars.ef-fs30
          .ef-float-left
            %a(href="../index.html")
              %ul.ef-float3.wrap-logo
                %li
                  .logo
                    %i.fa.fa-puzzle-piece
                %li
                  %strong.ef-lh30
                    Fivee-base
          .ef-float-right.rs3-show
            %ul.ef-float20.ef-lh30
              %li
                %ul.search.cp-input-icon-right
                  %li
                    %i.fa.fa-fw.fa-search
                  %li
                    %input.cp-input.ef-w100p.js-search(type="text" placeholder="キーワード検索")
              %li
                %a(href="https://twitter.com/plain_web/" target="_blank")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-twitter.fa-fw.ef-fs20
                    %li
                      HELP
              %li
                %a(href="../index.html")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-info-circle.ef-fs20
                    %li
                      導入方法
                    %li
                      %span.cp-badge.ef-cp-red
                        18
              %li
                %a.js-popup-open.is-fixed.js-tpl1(href="#{v}")
                  %ul.notification.ef-float3
                    %li
                      %i.fa.fa-bell.ef-fs20
                    %li
                      %span.cp-badge.ef-cp-red
                        2
              %li
                %a.js-popup-open.is-fixed.js-tpl0(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png" alt="profile")
                    %li
                      %i.fa.fa-caret-down
          .ef-float-right.rs2-show
            %ul.ef-float20.ef-lh30
              %li
                %a.js-popup-open.is-fixed.js-tpl4(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-search.ef-fs20
              %li
                %a(href="https://twitter.com/plain_web/" target="_blank")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-twitter.ef-fs20
              %li
                %a(href="../index.html")
                  %ul.notification.ef-float3
                    %li
                      %i.fa.fa-info-circle.ef-fs20
                    %li
                      %span.cp-badge.ef-cp-red
                        18
              %li
                %a.js-popup-open.is-fixed.js-tpl1(href="#{v}")
                  %ul.notification.ef-float3
                    %li
                      %i.fa.fa-bell.ef-fs20
                    %li
                      %span.cp-badge.ef-cp-red
                        2
              %li
                %a.js-popup-open.is-fixed.js-tpl0(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png" alt="profile")
                    %li
                      %i.fa.fa-caret-down
          .ef-float-right.rs1-show
            %ul.ef-float20.ef-lh30
              %li
                %a.js-nav-slide-open(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png" alt="profile")
                    %li
                      %i.fa.fa-caret-down
    / page-container//////////////////////////////////////////////
    .page-container
      .st-body
        .st-inner
          // page-nav//////////////////////////////////////////////
          %aside.page-nav.md-aside-main.js-aside-main
            .st-body
              .st-inner
                // side-menu//////////////////////////////////////////////
                %nav.md-nav-main
                  .st-inner
                    %ul.ef-lh28.js-nav-main
                      %li
                        %a(href="../index.html")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-home
                            %li
                              Dashboard
                      %li.js-nav-main-parent0
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-columns
                            %li
                              Structure
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child0(style="display:none;")
                          %li
                            %a(href="../page-structure/layout.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  layout
                      %li.js-nav-main-parent1
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-cubes
                            %li
                              Components
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child1(style="display:none;")
                          %li
                            %a(href="../page-components/form.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  form
                          %li
                            %a(href="../page-components/button.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  button
                          %li
                            %a(href="../page-components/title.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  title
                          %li
                            %a(href="../page-components/list.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  list
                          %li
                            %a(href="../page-components/dl.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  dl
                          %li
                            %a(href="../page-components/panel.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  panel
                          %li
                            %a(href="../page-components/remarks.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  remarks
                          %li
                            %a(href="../page-components/breadcrumb.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  breadcrumb
                          %li
                            %a(href="../page-components/toolbar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  toolbar
                          %li
                            %a(href="../page-components/underline.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  underline
                          %li
                            %a(href="../page-components/image.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  image
                          %li
                            %a(href="../page-components/tag.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tag
                          %li
                            %a(href="../page-components/badge.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  badge
                          %li
                            %a(href="../page-components/progress-bar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  progress-bar
                          %li
                            %a(href="../page-components/stepbar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  stepbar
                          %li
                            %a(href="../page-components/cursor.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  cursor
                          %li
                            %a(href="../page-components/talkbox.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  talkbox
                      %li.js-nav-main-parent2
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-code
                            %li
                              Effect Class
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child2(style="display:none")
                          %li
                            %a(href="../page-effect/float.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  float
                          %li
                            %a(href="../page-effect/align.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  align
                          %li
                            %a(href="../page-effect/margin.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  margin
                          %li
                            %a(href="../page-effect/padding.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  padding
                          %li
                            %a(href="../page-effect/width.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  width
                          %li
                            %a(href="../page-effect/height.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  height
                          %li
                            %a(href="../page-effect/line-height.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  line-height
                          %li
                            %a(href="../page-effect/font-size.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  font-size
                          %li
                            %a(href="../page-effect/text.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text
                          %li
                            %a(href="../page-effect/border.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  border
                          %li
                            %a(href="../page-effect/radius.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  radius
                          %li
                            %a(href="../page-effect/heading.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  heading
                          %li
                            %a(href="../page-effect/color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  color
                          %li
                            %a(href="../page-effect/font-color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  font-color
                          %li
                            %a(href="../page-effect/bg-color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  bg-color
                          %li
                            %a(href="../page-effect/opacity.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  opacity
                          %li
                            %a(href="../page-effect/overflow.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  overflow
                          %li
                            %a(href="../page-effect/text-ellipsis.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text-ellipsis
                          %li
                            %a(href="../page-effect/rotate.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  rotate
                          %li
                            %a(href="../page-effect/shadow.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  shadow
                          %li
                            %a(href="../page-effect/position.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  position
                          %li
                            %a(href="../page-effect/vertical.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  vertical
                      %li.js-nav-main-parent3
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-puzzle-piece
                            %li
                              Module
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child3(style="display:none")
                          %li
                            %a(href="../page-module/modal.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  modal
                          %li
                            %a(href="../page-module/cartain.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  cartain
                          %li
                            %a(href="../page-module/popup.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  popup
                          %li
                            %a(href="../page-module/tooltip.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tooltip
                          %li
                            %a(href="../page-module/nav.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  nav
                          %li
                            %a(href="../page-module/table.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  table
                          %li
                            %a(href="../page-module/message.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  message
                          %li
                            %a(href="../page-module/toast.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  toast
                          %li
                            %a(href="../page-module/pagination.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  pagination
                          %li
                            %a(href="../page-module/tab.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tab
                          %li
                            %a(href="../page-module/collapse.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  collapse
                          %li
                            %a(href="../page-module/loader.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  loader
                          %li
                            %a(href="../page-module/image-viewer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  image-viewer
                          %li
                            %a(href="../page-module/folder.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  folder
                          %li
                            %a(href="../page-module/equalizer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  equalizer
                          %li.is-current
                            %a(href="../page-module/scroll-top.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  scroll-top
                          %li
                            %a(href="../page-module/promo-footer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  promo-footer
                          %li
                            %a(href="../page-module/remover.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  remover
                          %li
                            %a(href="../page-module/current.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  current
                          %li
                            %a(href="../page-module/number-counter.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  number-counter
                          %li
                            %a(href="../page-module/text-ellipsis.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text-ellipsis
                          %li
                            %a(href="../page-module/clone.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  clone
                      %li.js-nav-main-parent4
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-quote-left
                            %li
                              State Class
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child4(style="display:none")
                          %li
                            %a(href="../page-state/display.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  display
                          %li
                            %a(href="../page-state/text.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text
          // page-main//////////////////////////////////////////////
          .page-contents
            .st-body.js-page-contents
              .st-inner
                // page title//////////////////////////////////////////////
                .cp-page-title.ef-mgb10
                  .st-inner
                    %ul.ef-float20.ef-lh30
                      %li
                        %h1
                          scroll-top
                      %li
                        %small.is-nobold.ef-fs14
                          ページの上部や任意の場所にスクロールさせます。
                // breadcrumb//////////////////////////////////////////////
                .cp-breadcrumb-model1.ef-mgb20
                  .st-inner.ef-float
                    .ef-float-left.ef-mxw80p
                      %ul.ef-float10.ef-lh24
                        %li
                          %a(href="index.html")
                            Module
                        %li
                          .ef-txt-center
                            %i.fa.fa-angle-right
                        %li
                          scroll-top
                    .ef-float-right
                      %ul.ef-float3
                        %li.ef-float-right
                          %a.cp-btn-mini.ef-cp-white.ef-w30(href="../index.html")
                            %i.fa.fa-home.ef-fs14
                        %li.ef-float-right
                          %a.cp-btn-mini.ef-cp-white.ef-w30.js-popup-open.js-tpl2(href="#{v}")
                            %i.fa.fa-link.ef-fs14
                        %li.ef-float-right
                          %a.cp-btn-mini.ef-cp-white.ef-w30.js-bookmark-open.js-tpl3(href="#{v}")
                            %i.fa.fa-star-o.ef-fs14
                // panel//////////////////////////////////////////////
                .cp-panel.ef-cp-white.ef-w100p
                  .st-body
                    .st-inner.ef-mh400
                      // example00 //////////////////////////////////
                      %section#js-pageTop0.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb3
                            %ul.ef-float.ef-lh25
                              %li
                                %h2
                                  scroll-top
                          .example-summary.ef-fs12.ef-mgb30
                            windowのスクロールを下げた際に出現し、押下するとページ上部までスクロールさせます。
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                          .example-remarks.ef-mgb20
                            .cp-remarks.ef-cp-blue.ef-w100p
                              .st-inner
                                .st-outer.ef-lh20
                                  本moduleを使う際にposition:abosolute;かfixedを使っているヘッダーなどのパーツがある際は、そのパーツにクラス
                                  %span.ef-txt-red
                                    js-posi-remove
                                  を付与してください。このクラスが付与されたパーツの高さを計算し、ページ上部までスクロールします。
                                  %br
                                  windowのスクロールを600下げると出現するようになります。本moduleのソースはページ下部に設置してください。
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num04-16-00-00(href="#{v}")
                                  show html
                          .example-box-html.js-example-tag-num04-16-00(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
                          %hr.cp-hr1-dotted.ef-pdt60
                      // example01 //////////////////////////////////
                      %section#js-pageTop1.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb3
                            %ul.ef-float.ef-lh25
                              %li
                                %h2
                                  scroll-top
                                  %span.ef-fs14
                                    (content)
                          .example-summary.ef-fs12.ef-mgb30
                            任意の場所にスクロールさせます。
                          .example-box.ef-mgb40
                            // example code /////////////////////////// 
                            %a(href="#js-pageTop0")
                              任意の場所へスクロール
                          .example-remarks.ef-mgb20
                            .cp-remarks.ef-cp-blue.ef-w100p
                              .st-inner
                                .st-outer.ef-lh20
                                  スクロールさせたい場所には、htmlソースのid名
                                  %span.ef-txt-red
                                    js-pageTop*
                                  スクロールを開始するトリガーには
                                  %span.ef-txt-red
                                    a
                                  タグの
                                  %span.ef-txt-red
                                    href
                                  にid名
                                  %span.ef-txt-red
                                    js-pageTop*
                                  を付与してください。これらの数値を合わせる事でトリガーを押下した際にスクロールします。
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num04-16-01-01(href="#{v}")
                                  show html
                              %li
                                %a.cp-btn.js-html-show.js-example-num04-16-01-02(href="#{v}")
                                  show trigger
                          .example-box-html.js-example-tag-num04-16-01(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
                          .ef-h600
    / footer/////////////////////////////////////////////
    %footer.page-footer
      .st-body.ef-posi-fix
        .st-inner.ef-txt-center.ef-fs11.ef-lh14
          Copyright © 2016 plain-web all rights reserved.
    / page-modules/////////////////////////////////////////////
    .page-modules
      .st-body.js-aside-remove
        / slide-nav//////////////////////////////////////////////
        .md-nav-slide.rs1-show.js-nav-slide
          .st-body
            .st-inner
              %ul.ef-lh40
                %li
                  %a(href="https://twitter.com/plain_web/" target="_blank")
                    %ul.ef-float3
                      %li
                        質問・感想
                %li
                  %a(href="../index.html")
                    %ul.ef-float3
                      %li
                        導入方法
                      %li
                        %span.cp-badge.ef-cp-red
                          53
                %li
                  %a.js-popup-open.js-tpl1(href="#{v}")
                    %ul.ef-float3
                      %li
                        Message
                      %li
                        %span.cp-badge.ef-cp-red
                          2
                      %li.js-ic-arrow
                        %i.fa.fa-caret-down
                %li
                  %a.js-popup-open.is-fixed.js-tpl0(href="#{v}")
                    %ul.ef-float3
                      %li
                        Your name
                      %li.js-ic-arrow
                        %i.fa.fa-caret-down
        / popup/////////////////////////////////////////////
        .md-popup.js-popup(style="display:none;")
          /popup contents type 'js-tpl0'
          .st-body.js-tpl0
            .st-inner.ef-w130.ef-sdw02
              .md-popup-arrow.js-popup-arrow
              .md-popup-arrow-back.js-popup-arrow
              .md-popup-body
                %ul.cp-list-hover.ef-cp-gray
                  %li
                    %a(href="https://github.com/plain-web/fivee-base/" target="_blank")
                      Github
                  %li
                    %a(href="../../../memoru/")
                      Memoru
                  %li
                    %a(href="../../../")
                      Plain-Web
                  %li
                    %a(href="#{v}")
                      ログアウト
          /popup contents type 'js-tpl1'
          .st-body.js-tpl1
            .st-inner.ef-sdw02
              .md-popup-arrow.js-popup-arrow
              .md-popup-arrow-back.js-popup-arrow
              .md-popup-body
                %ul.cp-list-hover.ef-cp-gray
                  %li
                    %a(href="#{v}")
                      %dl
                        %dt.ef-txt-bold
                          plain-web
                        %dd.ef-txt-ellipsis
                          システム予約は15：00にセットされました。
                    %hr.cp-hr1-dotted.ef-mgt3.ef-mgb3
                  %li
                    %a(href="#{v}")
                      %dl
                        %dt.ef-txt-bold
                          plain-web
                        %dd.ef-txt-ellipsis
                          システム予約は15：00にセットされました。
                    %hr.cp-hr1-dotted.ef-mgt3.ef-mgb3
                  %li
                    %a(href="#{v}")
                      %dl
                        %dt.ef-txt-bold
                          plain-web
                        %dd.ef-txt-ellipsis
                          システム予約は15：00にセットされました。
                    %hr.cp-hr1-dotted.ef-mgt3.ef-mgb3
                  %li
                    %a(href="#{v}")
                      %dl
                        %dt.ef-txt-bold
                          plain-web
                        %dd.ef-txt-ellipsis
                          システム予約は15：00にセットされました。
          /popup contents type 'js-tpl2'
          .st-body.js-tpl2
            .st-inner.ef-sdw02
              .md-popup-arrow.js-popup-arrow
              .md-popup-arrow-back.js-popup-arrow
              .md-popup-body
                %ul.cp-list-hover.ef-cp-gray
                  %li
                    %a(href="#js-pageTop0")
                      scroll-top
                  %li
                    %a(href="#js-pageTop1")
                      scroll-top
                      %span.ef-fs11
                        (content)
          /popup contents type 'js-tpl3'
          .st-body.js-tpl3
            .st-inner.ef-sdw02
              .md-popup-arrow.js-popup-arrow
              .md-popup-arrow-back.js-popup-arrow
              .md-popup-header.ef-mgb10
                %ul.ef-float
                  %li
                    %h6
                      Bookmark
              .md-popup-body.ef-pd10.ef-mgb10
                .ef-mgb10
                  %ul.ef-float7.ef-lh30
                    %li.ef-w50.ef-txt-right
                      Title
                    %li
                      %input.cp-input.ef-w150(type="text")
                .div
                  %ul.ef-float7.ef-lh30
                    %li.ef-w50.ef-txt-right
                      Folder
                    %li
                      %select.cp-input
                        %option
                          folder
              .md-popup-footer.ef-pdb7
                .ef-txt-center
                  %a.cp-btn.ef-cp-red.ef-w70.js-popup-close.js-bookmark-delete(href="#{v}")
                    Delete
                  %a.cp-btn.ef-w70.js-popup-close(href="#{v}")
                    Edit
          /popup contents type 'js-tpl4'
          .st-body.js-tpl4
            .st-inner.ef-sdw02.ef-w250
              .md-popup-arrow.js-popup-arrow
              .md-popup-arrow-back.js-popup-arrow
              .md-popup-body
                %ul.search.cp-input-icon-right
                  %li
                    %i.fa.fa-fw.fa-search
                  %li
                    %input.cp-input.ef-w100p.js-search(type="text" placeholder="キーワード検索")
        / tooltip/////////////////////////////////////////////
        .md-tooltip.js-tooltip(style="display:none;")
          .st-body.ef-mxw170
            .st-inner
              .md-tooltip-wrap.js-tooltip-wrap
              .md-balloon.js-balloon
                .md-triangle-bottom
        / scrolltop///////////////////////////////////////////
        .md-scrolltop.js-scrolltop(style="display:none;")
          .st-body.ef-sdw01
            .st-inner
              %a#js-pageTop.ef-fs16(href="#{v}")
                %i.fa.fa-chevron-up
    / script////////////////////////////////////////////
    <!--[if gte IE 10]><!-->
    %script(src="../js/vendor/jquery/dist/jquery.min.js" type="text/javascript")<>
    <!--<![endif]-->
    /[if lte IE 9] <script src="../js/vendor/jquery-legacy/dist/jquery.min.js" type="text/javascript"></script>
    %script(src="../js/google-analytics.min.js" type="text/javascript")
    %script(src="../js/fivee-base.min.js" type="text/javascript")