-# Encoding:utf-8
!!!
/[if lt IE 8] <html class="ie7 oldie" lang="ja">
/[if IE 8] <html class="ie8 oldie" lang="ja">
/[if IE 9] <html class="ie9 oldie" lang="ja">
<!--[if gt IE 9]><!-->
%html(lang="ja")<>
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(content="widtlih=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport")
    %title Fivee Base
    /[if IE 7] <link href="js/vendor/font-awesome-ie7/css/font-awesome-ie7.min.css" rel="stylesheet">
    /[if lt IE 9] <script src="js/vendor/html5shiv.min.js"></script>
    <!--[if gt IE 7]><!--> <link href="js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!--<![endif]-->
    %link(href="css/fivee-base.css" rel="stylesheet" type="text/css")
    %link(href="css/unique-css.css" rel="stylesheet" type="text/css")
  - v = 'javascript:void(0);'
  %body.body-index
    / header//////////////////////////////////////////////
    %header.page-header
      .st-body
        .st-inner.ef-float
          .ef-float-left
            %a(href="index.html")
              %ul.ef-float.wrap-logo
                %li
                  .logo.ef-w30.ef-rd50p.ef-txt-center
                    %i.fa.fa-rocket.ef-fs20.ef-lh30
                %li
                  %strong.ef-fs20.ef-lh30
                    Fivee-base
          .ef-float-right
            %ul.ef-float15.ef-lh30
              %li
                %a(href="#{v}")
                  %ul.ef-float0
                    %li
                      %i.fa.fa-info-circle.fa-fw
                    %li.ef-mgl3
                      Update
                    %li
                      %span.md-triangle-bottom
                    %li.md-activity.ef-mgl3
                      %span.cp-badge
                        53
              %li
                %a(href="#{v}")
                  %ul.ef-float0
                    %li
                      %i.fa.fa-envelope.fa-fw
                    %li.ef-mgl3
                      Messages
                    %li.ef-mgl3
                      %i.fa.fa-caret-down
                    %li.md-activity
                      %span.cp-badge
                        2
              %li
                %a(href="#{v}")
                  %ul.ef-float0
                    %li
                      %img.is-block.ef-w30.ef-rd3(src="img/myprof.png")
                    %li.ef-mgl3
                      Your name
                    %li.ef-mgl3
                      %i.fa.fa-caret-down
    / page-container//////////////////////////////////////////////
    %section.page-container
      .st-body
        .st-inner.ef-float
          // page-nav//////////////////////////////////////////////
          %nav.page-nav.ef-float-left#jq-LeftCanvas
            .st-body
              .st-inner
                // side-menu//////////////////////////////////////////////
                %section.md-main-nav
                  .st-inner
                    %ul
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Dashboard
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Panel
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Table
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              List
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Form
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              User
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Chat
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Button
                      %li
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Alart
                      %li#menu-00.jq-menu-parents
                        %a.is-nolink(href="#{v}")
                          %ul.ef-float0
                            %li
                              %i.fa.fa-envelope.fa-fw
                            %li.ef-mgl3
                              Compornents
                            %li.ef-mgl3
                              %i.fa.fa-angle-down.fa-fw
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Modal
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Tab
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Collapse
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Equalizer
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Tooltip
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Menu
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Scroll
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Loader
                      %li.menu-00.menu-children
                        .st-inner
                          %a.is-nolink(href="#{v}")
                            Toast
          // page-main//////////////////////////////////////////////
          %main.page-main(role="main")
            .st-body
              .st-inner
                // breadcrumb//////////////////////////////////////////////
                %section.md-breadcrumb
                  .st-inner
                    %ul.md-float
                      %li
                        %a(href="#")
                          Home
                      %li
                        %i.fa.fa-angle-right.fa-fw
                      %li
                        %a(href="#")
                          Form
                // main-canvas//////////////////////////////////////////////
                %section.main-canvas
                  .page-summary.md-mgb1
                    %ul.md-float
                      %li
                        %h1
                          Form
                        %li
                          .summary
                            this page summary
                  /panel
                  .md-panel
                    .st-body
                      .st-inner
                        .st-oneblock.md-mgb2
                          %h2
                            customer
                        .st-oneblock.md-mgb2
                          %ul.md-float
                            %li.md-w3p
                              .md-formset
                                %label
                                  %span.md-title
                                    Name
                                  .md-ph-box.jq-ph-box
                                    %input(type="text")
                                    .md-ph.jq-ph
                                      First name
                            %li.md-w3p
                              .md-formset
                                %label
                                  %span.md-title
                                  .md-ph-box.jq-ph-box
                                    %input(type="text")
                                    .md-ph.jq-ph
                                      Last name
                        .st-oneblock.md-mgb2
                          .md-formset.md-w5p
                            %label
                              .md-title
                                Zip code
                              .md-ph-box.jq-ph-box
                                %input(type="text")
                                .md-ph.jq-ph
                                  Zip code
                        .st-oneblock.md-mgb2
                          .md-formset
                            .md-title
                              Placeholder
                            %label.md-check-radio
                              %input(type="checkbox")
                              .md-keyword
                                Remember me
                        .st-oneblock.md-mgb2.jq-tooltip-hover
                          .md-tooltip-key.jq-tooltip-key
                            閲覧画面
                          %a(href="hogehoge.html")
                            test
    / footer//////////////////////////////////////////////
    %footer#jq-Footer
      .st-body
        .st-inner
          .st-outer.centering
            %small
              Copyright © 2014 YourApp all rights reserved.
    /tooltip/////////////////////////////////////////////////////////
    %section.md-tooltip.jq-tooltip(style="display:none;")
      .st-body
        .st-inner
          %section.md-tooltip-box.jq-tooltip-posi
            .st-inner.jq-tooltip-box
          %section.md-balloon.jq-balloon
            .md-triangle-bottom
    /cartain/////////////////////////////////////////////////////////
    %section.md-cartain.jq-cartain(style="display:none;")
    / toast//////////////////////////////////////////////
    %section#toastAlert.md-toast
      .st-body
        .st-inner
          #alertMessage.message
            %i.fa.fa-warning.fa-lg
            ログイン情報に誤りがあります。
    / script//////////////////////////////////////////////
    %script(src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript")
    %script(src="js/common.js" type="text/javascript")
    /[if lt IE 8] <script src="js/oldie.js"></script>
    / :javascript
    /   $(function(){

    /   ));