-# Encoding:utf-8
!!!
/[if lt IE 8] <html class="ie7 oldie" lang="ja">
/[if IE 8] <html class="ie8 oldie" lang="ja">
<!--[if gt IE 9]><!-->
%html(lang="ja")<>
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="CSSフレームワークはFivee-baseが便利です。豊富なパーツでアプリケーションやWebサイトを簡単に作る事ができます。")
    %meta(name="keywords" content="css,フレームワーク,開発,html")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(content="widtlih=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport")
    %title Fivee Base
    /[if lt IE 9] <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    %link(href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    %link(href="../css/theme-default/fivee-base.css" rel="stylesheet" type="text/css")
    %link(href="../css/theme-default/page-contents.css" rel="stylesheet" type="text/css")
    /[if lt IE 9] <link href="../css/old-ie.css" rel="stylesheet">
  - v = 'javascript:void(0);'
  %body.components-list
    / header//////////////////////////////////////////////
    %header.page-header
      .st-body.ef-header-fix.js-pageTop-remove
        .st-inner.ef-float
          .ef-float-left.ef-mgl-10.ef-mgr7.rs-bp2-show
            %a.ef-w30.js-aside-open(href="#{v}")
              %ul.ef-float7
                %li
                  %i.fa.fa-bars.ef-fs18.ef-lh30
          .ef-float-left
            %a(href="../index.html")
              %ul.ef-float3.wrap-logo
                %li
                  .logo
                    %i.fa.fa-puzzle-piece
                %li
                  %strong.ef-fs20.ef-lh30
                    Fivee-base
          .ef-float-right.rs-bp3-show
            %ul.ef-float20.ef-lh30
              %li
                %a(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-info-circle
                    %li
                      Update
                    %li
                      %span.cp-badge-red
                        53
              %li
                %a.js-popup-open.js-template1(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-envelope
                    %li
                      Message
                    %li
                      %span.cp-badge-red
                        2
                    %li
                      %i.fa.fa-caret-down
              %li
                %a.js-popup-open.js-template0(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png")
                    %li
                      Your name
                    %li
                      %i.fa.fa-caret-down
          .ef-float-right.rs-bp2-only-show
            %ul.ef-float20.ef-lh30
              %li
                %a(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-info-circle.ef-fs18
                    %li
                      %span.cp-badge-red
                        53
              %li
                %a.js-popup-open.js-template1(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-envelope.ef-fs18
                    %li
                      %i.fa.fa-caret-down
                    %li
                      %span.cp-badge-red
                        2
              %li
                %a.js-popup-open.js-template0(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png")
                    %li
                      %i.fa.fa-caret-down
          .ef-float-right.rs-bp1-show
            %ul.ef-float20.ef-lh30
              %li
                %a.js-slide-nav-open(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png")
                    %li
                      %i.fa.fa-caret-down
    / slide-nav//////////////////////////////////////////////
    %section.slide-nav.rs-bp1-show.js-slide-nav
      .st-body
        .st-inner
          %ul.ef-lh40
            %li
              %a(href="#{v}")
                %ul.ef-float3
                  %li
                    Update
                  %li
                    %span.cp-badge-red
                      53
            %li
              %a.js-popup-inset-open.js-template1(href="#{v}")
                %ul.ef-float3
                  %li
                    Message
                  %li
                    %span.cp-badge-red
                      2
                  %li.js-nav-caret
                    %i.fa.fa-caret-down
            %li
              %a.js-collapse.js-collapse-0(href="#{v}")
                %ul.ef-float3
                  %li
                    Your name
                  %li.js-nav-caret
                    %i.fa.fa-caret-down
              %ul.ef-txt-indent1.js-collapse-num0(style="display:none;")
                %li
                  %a(href="#{v}")
                    %ul.ef-float3
                      %li.ef-mgl3
                        Project
                %li
                  %a(href="#{v}")
                    %ul.ef-float3
                      %li.ef-mgl3
                        My account
                %li
                  %a(href="#{v}")
                    %ul.ef-float3
                      %li.ef-mgl3
                        ログアウト
    / page-container//////////////////////////////////////////////
    %section.page-container
      .st-body
        .st-inner.ef-float
          // page-nav//////////////////////////////////////////////
          %aside.page-nav.ef-float-left.js-aside
            .st-body
              .st-inner
                // side-menu//////////////////////////////////////////////
                %nav.md-main-nav
                  .st-inner
                    %ul.ef-lh28.js-nav
                      %li
                        %a(href="index.html")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-home
                            %li
                              Dashboard
                      %li
                        .ef-fs11.ef-txt-gray6
                          Structure
                      %li.js-nav-parent-num0
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-columns
                            %li
                              Structure
                            %li.ef-float-right.js-nav-caret
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-child-num0(style="display:none;")
                          %li
                            %a(href="../page-structure/layout.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  layout
                          %li
                            %a(href="../page-structure/inner.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  inner
                      %li
                        .ef-fs11.ef-txt-gray6
                          Components
                      %li.js-nav-parent-num1
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-cubes
                            %li
                              Components
                            %li.ef-float-right.js-nav-caret
                              %i.fa.fa-angle-up
                        %ul.ef-txt-indent1.js-nav-child-num1(style="display:none;")
                          %li
                            %a(href="../page-components/form.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  form
                          %li
                            %a(href="../page-components/button.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  button
                          %li
                            %a(href="../page-components/link.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  link
                          %li.is-current
                            %a(href="../page-components/list.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  list
                          %li
                            %a(href="../page-components/dl.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  dl
                          %li
                            %a(href="../page-components/panel.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  panel
                          %li
                            %a(href="../page-components/remarks.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  remarks
                          %li
                            %a(href="../page-components/breadcrumb.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  breadcrumb
                          %li
                            %a(href="../page-components/toolbar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  toolbar
                          %li
                            %a(href="../page-components/underline.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  underline
                          %li
                            %a(href="../page-components/image.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  image
                          %li
                            %a(href="../page-components/tag.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tag
                          %li
                            %a(href="../page-components/badge.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  badge
                          %li
                            %a(href="../page-components/progress-bar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  progress-bar
                          %li
                            %a(href="../page-components/step-wizard.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  step-wizard
                          %li
                            %a(href="../page-components/title.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  title
                      %li
                        .ef-fs11.ef-txt-gray6
                          Effect
                      %li.js-nav-parent-num2
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-code
                            %li
                              Effect Class
                            %li.ef-float-right.js-nav-caret
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-child-num2(style="display:none")
                          %li
                            %a(href="../page-effect/float.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  float
                          %li
                            %a(href="../page-effect/align.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  align
                          %li
                            %a(href="../page-effect/margin.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  margin
                          %li
                            %a(href="../page-effect/padding.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  padding
                          %li
                            %a(href="../page-effect/width.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  width
                          %li
                            %a(href="../page-effect/height.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  height
                          %li
                            %a(href="../page-effect/line-height.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  line-height
                          %li
                            %a(href="../page-effect/font-size.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  font-size
                          %li
                            %a(href="../page-effect/text.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text
                          %li
                            %a(href="../page-effect/border.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  border
                          %li
                            %a(href="../page-effect/radius.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  radius
                          %li
                            %a(href="../page-effect/heading.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  heading
                          %li
                            %a(href="../page-effect/color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  color
                          %li
                            %a(href="../page-effect/font-color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  font-color
                          %li
                            %a(href="../page-effect/bg-color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  bg-color
                          %li
                            %a(href="../page-effect/opacity.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  opacity
                          %li
                            %a(href="../page-effect/overflow.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  overflow
                          %li
                            %a(href="../page-effect/text-ellipsis.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text-ellipsis
                          %li
                            %a(href="../page-effect/rotate.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  rotate
                      %li
                        .ef-fs11.ef-txt-gray6
                          Module
                      %li.js-nav-parent-num3
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-puzzle-piece
                            %li
                              Module
                            %li.ef-float-right.js-nav-caret
                              %i.fa.fa-angle-up
                        %ul.ef-txt-indent1.js-nav-child-num3(style="display:none")
                          %li
                            %a(href="../page-module/modal.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  modal
                          %li
                            %a(href="../page-module/cartain.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  cartain
                          %li
                            %a(href="../page-module/popup.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  popup
                          %li
                            %a(href="../page-module/tooltip.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tooltip
                          %li
                            %a(href="../page-module/nav.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  nav
                          %li
                            %a(href="../page-module/table.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  table
                          %li
                            %a(href="../page-module/message.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  message
                          %li
                            %a(href="../page-module/toast.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  toast
                          %li
                            %a(href="../page-module/pagination.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  pagination
                          %li
                            %a(href="../page-module/tab.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tab
                          %li
                            %a(href="../page-module/collapse.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  collapse
                          %li
                            %a(href="../page-module/all-check.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  all check
                          %li
                            %a(href="../page-module/loader.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  loader
                          %li
                            %a(href="../page-module/image-viewer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  image viewer
                          %li
                            %a(href="../page-module/folder.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  folder
                          %li
                            %a(href="../page-module/equalizer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  equalizer
                          %li
                            %a(href="../page-module/placeholder.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  placeholder
                          %li
                            %a(href="../page-module/scrolltop.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  scrolltop
                      %li
                        .ef-fs11.ef-txt-gray6
                          State
                      %li.js-nav-parent-num4
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-quote-left
                            %li
                              State Class
                            %li.ef-float-right.js-nav-caret
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-child-num4(style="display:none")
                          %li
                            %a(href="../page-state/state-form.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  form
                          %li
                            %a(href="../page-state/state-components.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  components
                          %li
                            %a(href="../page-state/state-text.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text
                          %li
                            %a(href="../page-state/state-list.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  list
                          %li
                            %a(href="../page-state/state-display.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  display
                          %li
                            %a(href="../page-state/state-cursor.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  cursor
          // page-main//////////////////////////////////////////////
          %main.page-contents(role="main")
            .st-body
              .st-inner
                // page title//////////////////////////////////////////////
                %section.cp-page-title.ef-mgb10
                  .st-inner
                    %ul.ef-float20.ef-lh30
                      %li
                        %h1
                          list
                      %li
                        リスト表示からコンテンツの横並びまで幅広くご利用いただけます。
                // breadcrumb//////////////////////////////////////////////
                %section.cp-breadcrumb-model1.ef-mgb20
                  .st-inner.ef-float
                    .ef-float-left.ef-mxw80p
                      %ul.ef-float10.ef-lh24
                        %li
                          %a(href="components.html")
                            Components
                        %li
                          .ef-txt-center
                            %i.fa.fa-angle-right
                        %li
                          list
                    .ef-float-right
                      %ul.ef-float3
                        %li.ef-float-right
                          %a.cp-btn-mini.cp-btn-white.ef-w30(href="index.html")
                            %i.fa.fa-home.ef-fs14
                        %li.ef-float-right
                          %a.cp-btn-mini.cp-btn-white.ef-w30.js-popup-open.js-template2(href="#{v}")
                            %i.fa.fa-link.ef-fs14
                        %li.ef-float-right
                          %a.cp-btn-mini.cp-btn-white.ef-w30.js-bookmark-open.js-template3(href="#{v}")
                            %i.fa.fa-star-o.ef-fs14
                // panel//////////////////////////////////////////////
                %section.cp-panel.ef-w100p
                  .st-body
                    .st-inner.ef-bg-white.ef-mh400
                      // example00 //////////////////////////////////
                      %section#js-pageTop0.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb3
                            %ul.ef-float.ef-lh25
                              %li
                                %h5
                                  list
                                  %span.ef-fs14
                                    (float)
                          .example-summary.ef-fs12.ef-mgb30
                            間隔を調整する事ができます。HTMLソースのクラス名
                            %span.ef-txt-red
                              ef-float7
                            の数値を変更してください。
                            %span.js-tooltip-hover
                              .md-tooltip-key.js-tooltip-key
                                3/7/10/20/30
                              %a(href="#{v}")
                                [数値]
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                            %ul.ef-float7
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num02-04-00-00(href="#{v}")
                                  show html
                          .example-box-html.js-example-tag-num02-04-00(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
                          %hr.is-dotted.ef-pdt60
                      // example01 //////////////////////////////////
                      %section#js-pageTop1.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb30
                            %ul.ef-float.ef-lh25
                              %li
                                %h5
                                  list
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                            %ul
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num02-04-01-00(href="#{v}")
                                  show html
                          .example-box-html.js-example-tag-num02-04-01(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
                          %hr.is-dotted.ef-pdt60
                      // example02 //////////////////////////////////
                      %section#js-pageTop2.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb30
                            %ul.ef-float.ef-lh25
                              %li
                                %h5
                                  list
                                  %span.ef-fs14
                                    (disc)
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                            %ul.ef-list-disc
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num02-04-02-00(href="#{v}")
                                  show html
                          .example-box-html.js-example-tag-num02-04-02(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
                          %hr.is-dotted.ef-pdt60
                      // example03 //////////////////////////////////
                      %section#js-pageTop3.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb30
                            %ul.ef-float.ef-lh25
                              %li
                                %h5
                                  list
                                  %span.ef-fs14
                                    (decimal)
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                            %ul.ef-list-decimal
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                              %li
                                Fivee-base
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num02-04-03-00(href="#{v}")
                                  show html
                          .example-box-html.js-example-tag-num02-04-03(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
                          %hr.is-dotted.ef-pdt60
                      // example04 //////////////////////////////////
                      %section#js-pageTop4.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb3
                            %ul.ef-float.ef-lh25
                              %li
                                %h5
                                  list
                                  %span.ef-fs14
                                    (hover)
                          .example-summary.ef-fs12.ef-mgb30
                            ナビゲーションなどホバー時に背景色をつける事ができます。
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                            %ul.ef-list-hover-green
                              %li
                                %a(href="#")
                                  Fivee-base
                              %li
                                %a(href="#")
                                  Fivee-base
                              %li
                                %a(href="#")
                                  Fivee-base
                              %li
                                %a(href="#")
                                  Fivee-base
                              %li
                                %a(href="#")
                                  Fivee-base
                          .example-remarks.ef-mgb20
                            %section.cp-remarks-blue.ef-w100p
                              .st-inner
                                .st-outer.ef-lh20
                                  背景色を変更できます。HTMLソースの
                                  %span.ef-txt-red
                                    ef-list-hover-green
                                  を変更してください。 
                                  %span.js-tooltip-hover
                                    .md-tooltip-key.js-tooltip-key
                                      white/red/orange/blue/green/yellow/brown/black/gray/gray(1～7)/theme
                                    %a(href="#{v}")
                                      [カラー]
                          .example-btn
                            %ul.ef-float7
                              %li
                                %a.cp-btn.js-html-show.js-example-num02-04-04-00(href="#{v}")
                                  show html
                          .example-box-html.js-example-tag-num02-04-04(style="display:none;")
                            %textarea.cp-textarea.ef-w100p.ef-h300.ef-mgt10
    / footer/////////////////////////////////////////////
    %footer.page-footer
      .st-body.ef-footer-fix
        .st-inner.ef-txt-center.ef-fs11.ef-lh14
          Copyright © 2014 Jazzpoteto all rights reserved.
    /popup/////////////////////////////////////////////
    %section.md-popup.js-popup(style="display:none;")
      .st-body.ef-posi-fix.js-template0
        .st-inner
          .md-popup-body
            %ul.ef-list-hover-gray
              %li
                %a(href="#{v}")
                  Project
              %li
                %a(href="#{v}")
                  My Account
              %li
                %a(href="#{v}")
                  ログアウト
      .st-body.ef-posi-fix.js-template1
        .st-inner
          .md-popup-body.ef-mw250-ovf.ef-mh400-ovf
            %ul.ef-list-hover-gray
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      jazzpoteto
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
                %hr.is-dotted.ef-mgt3.ef-mgb3
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      jazzpoteto
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
                %hr.is-dotted.ef-mgt3.ef-mgb3
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      jazzpoteto
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
                %hr.is-dotted.ef-mgt3.ef-mgb3
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      jazzpoteto
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
      .st-body.js-template2
        .st-inner
          .md-popup-body
            %ul.ef-list-hover-gray
              %li
                %a(href="#js-pageTop0")
                  list
                  %span.ef-fs11
                    (float)
              %li
                %a(href="#js-pageTop1")
                  list
              %li
                %a(href="#js-pageTop2")
                  link
                  %span.ef-fs11
                    (disc)
              %li
                %a(href="#js-pageTop3")
                  link
                  %span.ef-fs11
                    (decimal)
              %li
                %a(href="#js-pageTop4")
                  link
                  %span.ef-fs11
                    (hover)
      .st-body.js-template3
        .st-inner
          .md-popup-header.ef-mgb20
            %ul.ef-float
              %li
                %h6
                  Bookmark
          .md-popup-body
            %section.ef-mgb10
              %ul.ef-float7.ef-lh30
                %li.ef-w50.ef-txt-right
                  Title
                %li
                  %input.cp-input.ef-w150(type="text")
            %section
              %ul.ef-float7.ef-lh30
                %li.ef-w50.ef-txt-right
                  Folder
                %li
                  %select.cp-input
                    %option
                      folder
            %section
          .md-popup-footer
            .ef-txt-center.ef-pdt30.ef-txt-nowrap
              %a.cp-btn-mini.ef-w80.js-popup-close(href="#{v}")
                削除
              %a.cp-btn-mini.ef-w80.js-popup-close(href="#{v}")
                登録
              %a.cp-btn-mini.ef-w80.js-popup-close(href="#{v}")
                キャンセル
    /modal///////////////////////////////////////////////
    %section.md-modal.js-modal(style="display:none;")
      /modal contents type 'jq-modal-num0'
      .st-body.ef-w500.js-modal-posi.js-modal-num0
        .st-inner
          /modal-header ///////////////////
          .md-modal-header
            .st-inner
              .md-modal-title
                %h6
                  modal example
              .md-modal-close
                %a.ef-fs20.js-modal-close(href="#{v}")
                  %i.fa.fa-times
          /modal-body  ////////////////////
          .md-modal-body.ef-mw500-ovf.ef-mh300-ovf
            %section.ef-mgb10
              Select column
            %section
              %table.md-table-base.ef-w100p.js-check
                %colgroup
                  %col
                  %col
                  %col
                  %col
                  %col.ef-bg-green
                  %col
                  %col
                %thead
                  /tr ///////////////////////
                  %tr
                    %th.ef-w20
                      %input.js-check-parent-num0(type="checkbox")
                    %th
                      %a(href="#{v}")
                        header
                    %th
                      %a(href="#{v}")
                        header
                    %th
                      %a(href="#{v}")
                        header
                    %th
                      %a(href="#{v}")
                        header
                        %i.fa.fa-caret-down
                    %th
                      %a(href="#{v}")
                        header
                    %th.ef-w20
                      %a(href="#{v}")
                        header
                %tbody.md-td-hover
                  /tr ///////////////////////
                  %tr
                    %td
                      %input.js-check-child-num0(type="checkbox")
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td.ef-txt-center
                      %a.cp-btn-mini(href="#{v}")
                        option
                  /tr ///////////////////////
                  %tr
                    %td
                      %input.js-check-child-num0(type="checkbox")
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td.ef-txt-center
                      %a.cp-btn-mini(href="#{v}")
                        option
                  /tr ///////////////////////
                  %tr
                    %td
                      %input.js-check-child-num0(type="checkbox")
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td.ef-txt-center
                      %a.cp-btn-mini(href="#{v}")
                        option
                  /tr ///////////////////////
                  %tr
                    %td
                      %input.js-check-child-num0(type="checkbox")
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td.ef-txt-center
                      %a.cp-btn-mini(href="#{v}")
                        option
                  /tr ///////////////////////
                  %tr
                    %td
                      %input.js-check-child-num0(type="checkbox")
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td
                      column
                    %td.ef-txt-center
                      %a.cp-btn-mini(href="#{v}")
                        option
          /modal-footer //////////////////
          .md-modal-footer
            .ef-txt-center.ef-txt-nowrap
              %a.cp-btn-theme.ef-mw100(href="#{v}")
                submit
              %a.cp-btn.ef-mw100.js-modal-close(href="#{v}")
                cancel
    /tooltip/////////////////////////////////////////////
    %section.md-tooltip.js-tooltip(style="display:none;")
      .st-body.js-tooltip-posi
        .st-inner
          %section.md-tooltip-wrap.js-tooltip-wrap
          %section.md-balloon.js-balloon
            .md-triangle-bottom
    /scrolltop///////////////////////////////////////////
    %section.md-scrolltop.js-scrolltop(style="display:none;")
      .st-body.ef-shadow01
        .st-inner
          %a#js-pageTop.ef-fs16(href="#{v}")
            %i.fa.fa-arrow-up
    /cartain////////////////////////////////////////////
    %section.md-cartain.js-cartain(style="display:none;")
    / script////////////////////////////////////////////
    <!--[if gt IE 8]><!-->
    %script(src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript")<>
    <!--<![endif]-->
    /[if lt IE 9] <script src="../bower_components/jquery-legacy/dist/jquery.min.js" type="text/javascript"></script>
    %script(src="../js/min/fivee-base.min.js" type="text/javascript")
    / :javascript
    /   $(function(){

    /   ));