-# Encoding:utf-8
!!!
/[if lt IE 8] <html class="ie7 oldie" lang="ja">
/[if IE 8] <html class="ie8 oldie" lang="ja">
<!--[if gt IE 9]><!-->
%html(lang="ja")<>
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %meta(name="description" content="CSSフレームワークはFivee-baseが便利です。豊富な機能とパーツでアプリケーションやWebサイトを簡単に作る事ができます。")
    %meta(name="keywords" content="css,フレームワーク,開発,html")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport")
    %title Fivee-base
    /[if lt IE 9] <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    %link(href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    %link(href="../css/theme-default/fivee-base.min.css" rel="stylesheet" type="text/css")
    %link(href="../css/theme-default/page-contents.min.css" rel="stylesheet" type="text/css")
    /[if lt IE 9] <link href="../css/old-ie.min.css" rel="stylesheet">
  - v = 'javascript:void(0);'
  %body.structure
    / header//////////////////////////////////////////////
    %header.page-header
      .st-body.ef-posi-fix.js-pageTop-remove
        .st-inner.ef-float
          .ef-float-left.ef-mgl-10.ef-mgr7.rs3-hide
            %a.ef-w30.js-aside-main-open(href="#{v}")
              %ul.ef-float7
                %li
                  %i.fa.fa-bars.ef-fs18.ef-lh30
          .ef-float-left
            %a(href="../index.html")
              %ul.ef-float3.wrap-logo
                %li
                  .logo
                    %i.fa.fa-puzzle-piece
                %li
                  %strong.ef-fs20.ef-lh30
                    Fivee-base
          .ef-float-right.rs3-show
            %ul.ef-float20.ef-lh30
              %li
                %a(href="https://twitter.com/plain_web" target="_blank")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-twitter
                    %li
                      質問・感想
              %li
                %a(href="../index.html")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-info-circle
                    %li
                      導入方法
                    %li
                      %span.cp-badge-red
                        53
              %li
                %a.js-popup-open.js-tpl1(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-envelope
                    %li
                      Message
                    %li
                      %span.cp-badge-red
                        2
                    %li
                      %i.fa.fa-caret-down
              %li
                %a.js-popup-open.js-tpl0(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png")
                    %li
                      Your name
                    %li
                      %i.fa.fa-caret-down
          .ef-float-right.rs2-show
            %ul.ef-float20.ef-lh30
              %li
                %a(href="https://twitter.com/plain_web" target="_blank")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-twitter.ef-fs18
              %li
                %a(href="../index.html")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-info-circle.ef-fs18
                    %li
                      %span.cp-badge-red
                        53
              %li
                %a.js-popup-open.js-tpl1(href="#{v}")
                  %ul.ef-float3
                    %li
                      %i.fa.fa-envelope.ef-fs18
                    %li
                      %i.fa.fa-caret-down
                    %li
                      %span.cp-badge-red
                        2
              %li
                %a.js-popup-open.js-tpl0(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png")
                    %li
                      %i.fa.fa-caret-down
          .ef-float-right.rs1-show
            %ul.ef-float20.ef-lh30
              %li
                %a.js-nav-slide-open(href="#{v}")
                  %ul.ef-float3
                    %li
                      %img.prof(src="../img/myprof.png")
                    %li
                      %i.fa.fa-caret-down
    / slide-nav//////////////////////////////////////////////
    %section.md-nav-slide.rs1-show.js-nav-slide
      .st-body
        .st-inner
          %ul.ef-lh40
            %li
              %a(href="https://twitter.com/plain_web" target="_blank")
                %ul.ef-float3
                  %li
                    質問・感想
            %li
              %a(href="../index.html")
                %ul.ef-float3
                  %li
                    導入方法
                  %li
                    %span.cp-badge-red
                      53
            %li
              %a.js-popup-inset-open.js-tpl1(href="#{v}")
                %ul.ef-float3
                  %li
                    Message
                  %li
                    %span.cp-badge-red
                      2
                  %li.js-ic-arrow
                    %i.fa.fa-caret-down
            %li
              %a.js-popup-inset-open.js-tpl0(href="#{v}")
                %ul.ef-float3
                  %li
                    Your name
                  %li.js-ic-arrow
                    %i.fa.fa-caret-down
    / page-container//////////////////////////////////////////////
    %section.page-container
      .st-body
        .st-inner.ef-float
          // page-nav//////////////////////////////////////////////
          %aside.page-nav.md-aside-main.ef-float-left.js-aside-main
            .st-body
              .st-inner
                // side-menu//////////////////////////////////////////////
                %nav.md-nav-main
                  .st-inner
                    %ul.ef-lh28.js-nav-main
                      %li
                        %a(href="../index.html")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-home
                            %li
                              Dashboard
                      %li
                        .ef-fs11.ef-txt-gray6
                          Structure
                      %li.js-nav-main-parent0
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-columns
                            %li
                              Structure
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child0(style="display:none;")
                          %li
                            %a(href="../page-structure/layout.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  layout
                      %li
                        .ef-fs11.ef-txt-gray6
                          Components
                      %li.js-nav-main-parent1
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-cubes
                            %li
                              Components
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child1(style="display:none;")
                          %li
                            %a(href="../page-components/form.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  form
                          %li
                            %a(href="../page-components/button.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  button
                          %li
                            %a(href="../page-components/title.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  title
                          %li
                            %a(href="../page-components/list.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  list
                          %li
                            %a(href="../page-components/dl.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  dl
                          %li
                            %a(href="../page-components/panel.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  panel
                          %li
                            %a(href="../page-components/remarks.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  remarks
                          %li
                            %a(href="../page-components/breadcrumb.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  breadcrumb
                          %li
                            %a(href="../page-components/toolbar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  toolbar
                          %li
                            %a(href="../page-components/underline.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  underline
                          %li
                            %a(href="../page-components/image.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  image
                          %li
                            %a(href="../page-components/tag.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tag
                          %li
                            %a(href="../page-components/badge.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  badge
                          %li
                            %a(href="../page-components/progress-bar.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  progress-bar
                          %li
                            %a(href="../page-components/step-wizard.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  step-wizard
                          %li
                            %a(href="../page-components/cursor.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  cursor
                      %li
                        .ef-fs11.ef-txt-gray6
                          Effect
                      %li.js-nav-main-parent2
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-code
                            %li
                              Effect Class
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child2(style="display:none")
                          %li
                            %a(href="../page-effect/float.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  float
                          %li
                            %a(href="../page-effect/align.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  align
                          %li
                            %a(href="../page-effect/margin.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  margin
                          %li
                            %a(href="../page-effect/padding.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  padding
                          %li
                            %a(href="../page-effect/width.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  width
                          %li
                            %a(href="../page-effect/height.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  height
                          %li
                            %a(href="../page-effect/line-height.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  line-height
                          %li
                            %a(href="../page-effect/font-size.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  font-size
                          %li
                            %a(href="../page-effect/text.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text
                          %li
                            %a(href="../page-effect/border.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  border
                          %li
                            %a(href="../page-effect/radius.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  radius
                          %li
                            %a(href="../page-effect/heading.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  heading
                          %li
                            %a(href="../page-effect/color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  color
                          %li
                            %a(href="../page-effect/font-color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  font-color
                          %li
                            %a(href="../page-effect/bg-color.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  bg-color
                          %li
                            %a(href="../page-effect/opacity.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  opacity
                          %li
                            %a(href="../page-effect/overflow.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  overflow
                          %li
                            %a(href="../page-effect/text-ellipsis.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text-ellipsis
                          %li
                            %a(href="../page-effect/rotate.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  rotate
                          %li
                            %a(href="../page-effect/shadow.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  shadow
                          %li
                            %a(href="../page-effect/position.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  position
                      %li
                        .ef-fs11.ef-txt-gray6
                          Module
                      %li.js-nav-main-parent3
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-puzzle-piece
                            %li
                              Module
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child3(style="display:none")
                          %li
                            %a(href="../page-module/modal.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  modal
                          %li
                            %a(href="../page-module/cartain.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  cartain
                          %li
                            %a(href="../page-module/popup.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  popup
                          %li
                            %a(href="../page-module/tooltip.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tooltip
                          %li
                            %a(href="../page-module/nav.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  nav
                          %li
                            %a(href="../page-module/table.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  table
                          %li
                            %a(href="../page-module/message.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  message
                          %li
                            %a(href="../page-module/toast.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  toast
                          %li
                            %a(href="../page-module/pagination.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  pagination
                          %li
                            %a(href="../page-module/tab.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  tab
                          %li
                            %a(href="../page-module/collapse.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  collapse
                          %li
                            %a(href="../page-module/loader.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  loader
                          %li
                            %a(href="../page-module/image-viewer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  image-viewer
                          %li
                            %a(href="../page-module/folder.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  folder
                          %li
                            %a(href="../page-module/equalizer.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  equalizer
                          %li
                            %a(href="../page-module/scroll-top.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  scroll-top
                      %li
                        .ef-fs11.ef-txt-gray6
                          State
                      %li.js-nav-main-parent4
                        %a(href="#{v}")
                          %ul.ef-float3
                            %li
                              %i.fa.fa-quote-left
                            %li
                              State Class
                            %li.ef-float-right.js-ic-arrow
                              %i.fa.fa-angle-down
                        %ul.ef-txt-indent1.js-nav-main-child4(style="display:none")
                          %li
                            %a(href="../page-state/display.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  display
                          %li
                            %a(href="../page-state/text.html")
                              %ul.ef-float3
                                %li.ef-mgl3
                                  text
          // page-main//////////////////////////////////////////////
          %main.page-contents.js-page-contents(role="main")
            .st-body
              .st-inner
                // page title//////////////////////////////////////////////
                %section.cp-page-title.ef-mgb10
                  .st-inner
                    %ul.ef-float20.ef-lh30
                      %li
                        %h1
                          Structure
                      %li
                        Fivee-baseの1つの要素"structure"に関する説明です。
                // breadcrumb//////////////////////////////////////////////
                %section.cp-breadcrumb-model1.ef-mgb20
                  .st-inner.ef-float
                    .ef-float-left.ef-mxw80p
                      %ul.ef-float10.ef-lh24
                        %li
                          %a(href="index.html")
                            Structure
                    .ef-float-right
                      %ul.ef-float3
                        %li.ef-float-right
                          %a.cp-btn-mini.cp-btn-white.ef-w30(href="../index.html")
                            %i.fa.fa-home.ef-fs14
                        %li.ef-float-right
                          %a.cp-btn-mini.cp-btn-white.ef-w30.js-popup-open.js-tpl2(href="#{v}")
                            %i.fa.fa-link.ef-fs14
                        %li.ef-float-right
                          %a.cp-btn-mini.cp-btn-white.ef-w30.js-bookmark-open.js-tpl3(href="#{v}")
                            %i.fa.fa-star-o.ef-fs14
                // panel//////////////////////////////////////////////
                %section.cp-panel-white.ef-w100p
                  .st-body
                    .st-inner.ef-mh400
                      // example00 //////////////////////////////////
                      %section#js-pageTop0.examle-wrap.ef-mgb20
                        .st-inner
                          .example-title.ef-mgb3
                            %ul.ef-float.ef-lh25
                              %li
                                %h5
                                  structure
                          .example-summary.ef-fs12.ef-mgb30
                            structureは主にクラス名
                            %span.ef-txt-red
                              st-*
                            から始まる要素です。
                          .example-box.ef-mgb40
                            // example code ///////////////////////////
                            %section.ef-mgb10
                              この要素は構造に関する指定がされます。基本的にはページを構成するような大きなパーツ（module等）に使用され、機能追加やデザインリニューアルといった更新作業にも対応できるように拡張性を持たせています。
                            %section
                              この要素は初期状態では何も指定されていません。何かをレイアウトさせる際に用途に応じてレイアウトに関する指定をします。
    / footer/////////////////////////////////////////////
    %footer.page-footer
      .st-body.ef-posi-fix
        .st-inner.ef-txt-center.ef-fs11.ef-lh14
          Copyright © 2016 plain-web all rights reserved.
    /popup/////////////////////////////////////////////
    %section.md-popup.js-popup(style="display:none;")
      /popup contents type 'js-tpl0'
      .st-body.js-posi-fix.js-tpl0
        .st-inner.ef-sdw02
          .md-popup-body
            %ul.cp-list-hover-gray
              %li
                %a(href="https://github.com/plain-web/fivee-base" target="_blank")
                  Github
              %li
                %a(href="#{v}")
                  My Account
              %li
                %a(href="#{v}")
                  ログアウト
      /popup contents type 'js-tpl1'
      .st-body.js-posi-fix.js-tpl1
        .st-inner.ef-sdw02
          .md-popup-body.ef-mw250-ovf.ef-mh400-ovf
            %ul.cp-list-hover-gray
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      plain-web
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
                %hr.cp-hr1-dotted.ef-mgt3.ef-mgb3
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      plain-web
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
                %hr.cp-hr1-dotted.ef-mgt3.ef-mgb3
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      plain-web
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
                %hr.cp-hr1-dotted.ef-mgt3.ef-mgb3
              %li
                %a(href="#{v}")
                  %dl
                    %dt.ef-txt-bold
                      plain-web
                    %dd.ef-txt-ellipsis
                      システム予約は15：00にセットされました。
      /popup contents type 'js-tpl2'
      .st-body.ef-mgt-40.js-tpl2
        .st-inner.ef-sdw02
          .md-popup-body
            %ul.cp-list-hover-gray
              %li
                %a(href="#js-pageTop0")
                  structure
      /popup contents type 'js-tpl3'
      .st-body.ef-mgt-40.js-tpl3
        .st-inner.ef-sdw02
          .md-popup-header.ef-mgb20
            %ul.ef-float
              %li
                %h6
                  Bookmark
          .md-popup-body
            %section.ef-mgb10
              %ul.ef-float7.ef-lh30
                %li.ef-w50.ef-txt-right
                  Title
                %li
                  %input.cp-input.ef-w150(type="text")
            %section
              %ul.ef-float7.ef-lh30
                %li.ef-w50.ef-txt-right
                  Folder
                %li
                  %select.cp-input
                    %option
                      folder
            %section
          .md-popup-footer
            .ef-txt-center.ef-pdt30.ef-txt-nowrap
              %a.cp-btn-mini.ef-w80.js-popup-close(href="#{v}")
                削除
              %a.cp-btn-mini.ef-w80.js-popup-close(href="#{v}")
                登録
              %a.cp-btn-mini.ef-w80.js-popup-close(href="#{v}")
                キャンセル
    /tooltip/////////////////////////////////////////////
    %section.md-tooltip.js-tooltip(style="display:none;")
      .st-body.ef-mgt-40.ef-mxw170
        .st-inner
          %section.md-tooltip-wrap.js-tooltip-wrap
          %section.md-balloon.js-balloon
            .md-triangle-bottom
    /scrolltop///////////////////////////////////////////
    %section.md-scrolltop.js-scrolltop(style="display:none;")
      .st-body.ef-sdw01
        .st-inner
          %a#js-pageTop.ef-fs16(href="#{v}")
            %i.fa.fa-arrow-up
    / script////////////////////////////////////////////
    <!--[if gt IE 8]><!-->
    %script(src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript")<>
    <!--<![endif]-->
    /[if lt IE 9] <script src="../bower_components/jquery-legacy/dist/jquery.min.js" type="text/javascript"></script>
    %script(src="../js/fivee-base.min.js" type="text/javascript")
    / :javascript
    /   $(function(){

    /   ));